<% @contacts.each do |c| %>
  <%= link_to admins_contact_path(c.id) do %>
    <%= c.subject %>
    <%= c.sender_name %>
    <%= c.email %>
    <%= c.checking_status %>
  <% end %>
  <div class="btn__reply">返信する</div>
  <div class="reply__wrapper">
    <%= form_for @new_contact, url: admins_contact_contact_replies_path(c.id) do |n| %>
      <%= n.text_area :body %>
      <%= n.submit '送信する' %>
    <% end %>
  </div>
 <% end %>
